[submodule "external/du-libs"]
	path = e/lib
	url = git@github.com:PerMalmberg/du-libs.git
[submodule "external/du-render"]
	path = e/render
	url = git@github.com:PerMalmberg/du-render.git
[submodule "external/SmartTemplateLibrary"]
	path = e/STL
	url = git@github.com:PerMalmberg/SmartTemplateLibrary.git
